html{
    font-size: 100%;
    text-align: justify;
}
body{
    background: #fffcf5;
    color: rgb(84, 99, 120);
    font-family: "Noto Sans TC",sans-serif;  
    line-height: 1.7;
}

nav{
    font-size: 1.25rem;
    margin-top: 34px;
    list-style: none;
    text-align:right;
}
nav a:hover{
    color: white
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4;
}
a{
    text-decoration: none;
}