html{
    font-size: 100%;
    text-align: justify;
}
body{
    background: #fffcf5;
    color: rgb(84, 99, 120);
    font-family: "Noto Sans TC",sans-serif;  
    line-height: 1.7;
}
a{
    text-decoration: none;
}
.main-nav{
    display: flex;
    font-size: 1.25rem;
    margin-top: 34px;
    list-style: none;
    text-align: right;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a {
    color: #4e6274;
}
.main-nav a:hover{
    color: white;
}
.page-header{
    display: flex;
    justify-content: space-between;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}