* {
    margin: 0;
    padding: 15px;
}
html{
    font-size: 100%;
    text-align: justify;
}
body{
    background: #fffcf5;
    color: rgb(84, 99, 120);
    font-family: "Noto Sans TC",sans-serif;  
    line-height: 1.7;
}
article{
    margin-top: 0em;
}
.cover{
    width: 100%;
    height: 100vh;
    background-image: url(one.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/*照片靠右的section*/
.imageunit{
    margin: 0;
    overflow: hidden;
}
.imageunit img{
    float: right;
    margin: 0 0 10px 20px;
    width: 50%;
    height: auto;
}
.imageunit{
    margin: 0 0 1em;
}
/*照片的section*/
.photos{
    margin: 0 0 24px;
}
.photos ul{
    padding: 10px;
    overflow: hidden;
}
.photos ul li{
    list-style-type: none;
    float:left;
    width: 33.333%;
}
.photos ul li img{
    max-width: 100%;
    height: auto;
    display: block;
}
footer{
    background-color: #ffffff;
    text-align: center;
    width: 100%;
}
a{
    text-decoration: none;
    color: #4e6274;
    
}
a:hover{
    color: #fffcf5;
}